.leaf1{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 0 250px 0 250px;
    position: absolute;
    top: 170px;
    left: 400px;
}
.leaf2{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius:250px 0 250px 0;
    position: absolute;
    top: 170px;
    right: 400px;
}
.leaf3{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 250px 0 250px 0;
    position: absolute;
    bottom: 170px;
    left: 400px;
    
}
.leaf4{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 0 250px 0 250px;
    position: absolute;
    bottom: 170px;
    right: 400px;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
}
.rectangle{
    width: 20px;
    height: 300px;
    background-color: green;
    margin: 50vh auto;

}
.leaf5{
    width: 100px;
    height: 100px;
    background-color: rgb(27, 180, 27);
    border-radius: 0 250px 0 250px;
    position: absolute;
    top: 25rem;
    left: 397px; 
}
